{% extends 'base.html' %}
{% load static %}

{% block title %}Manage Staff{% endblock %}

{% block head %}

<!-- CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'css/form_pages.css' %}">

{% endblock %}

{% block content %}

<div class="container p-3 m-0 border-0 main-container">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="container form-container">
                {% if user.is_staff %}
                    <h1 class="title">Manage Staff</h1>
                    <p class="text-muted">Administrator: create, edit and delete articles</p>
                    <p class="text-muted">Staff: add and remove administrators (and can also perform administrator tasks)</p>

                    <!-- Alerts -->
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-warning alert-dismissible fade show" id="alertMessage">
                                {{ message }}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" id="alertCloseBtn"></button>
                            </div>
                        {% endfor %}
                    {% endif %}

                    <hr>
                    <h3 class="title">Current Staff</h3>
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">Username</th>
                                    <th scope="col">Administrator</th>
                                    <th scope="col">Staff</th>
                                    <th scope="col">Remove</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for user_account in object_list %}
                                    {% if user_account.account.administrator == True %}
                                        <tr>
                                            <th scope="row">{{ user_account.username }}</th>
                                            <td scope="row">{% if user_account.account.administrator == True %} ✅ {% else %} ❌ {% endif %}</td>
                                            <td scope="row">{% if  user_account.is_staff == True %} ✅ {% else %} ❌ {% endif %}</td>
                                            <td scope="row">
                                                <form action="{% url 'remove-administrator' %}" method="POST">
                                                    {% csrf_token %}
                                                    <button class="btn btn-danger" type="submit" name="user_id" value="{{ user_account.pk }}">Remove</button>
                                                </form>
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <hr>
                    <h3 class="title">Add New Administrator</h3>
                    <form action="{% url 'add-administrator' %}" method="POST">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label class="form-label">Username</label>
                            <input type="text" class="form-control" name="username">
                        </div>
                        <button class="btn btn-primary" type="submit">Submit</button>
                    </form>
                {% else %}
                    <h1 class="title">Invalid Request</h1>
                    <p>You must be an administrator in order to manage staff.</p>
                    <p>If you think this is a mistake, please <a href="{% url 'contact' %}">contact us</a> to get in touch with an administrator.</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}