{% extends 'base.html' %}
{% load static %}

{% block title %}About Us - Clarets Hub{% endblock %}

{% block head %}

<!-- CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'css/footer_pages.css' %}">

{% endblock %}

{% block content %}
 
<div class="container p-3 m-0 border-0 main-container">
    <div class="row g-0 justify-content-center">
        <div class="col-lg-4 col-12 p-3">
            <div class="row g-0">
                <h1 class="title">About Us</h1>
                <hr class="title-separator">
                <p>
                    Clarets Hub is an independent news site designed for supporters of Burnley Football Club. We are dedicated to covering every aspect of the club, including 
                    matches, transfers and any other news that is related to the clarets.
                </p>
                <p>
                    Clarets Hub was created by a lifelong Burnley supporter who was looking for a project to commit to during the summer of 2022. This led to the development 
                    of Clarets Hub, with the website being created over this period (with Django being used for the backend and the frontend templates consisting of HTML, CSS 
                    and Bootstrap). Since the creation of the site, he has been focusing on writing content for Clarets Hub whilst also maintaining the website (fixing any bugs 
                    found and releasing new features on the website).
                </p>
                <p>
                    We currently aim to publish two articles per week, however it may be difficult to achieve this at times due to other responsibilities (please remember all 
                    our writers are volunteers so other commitments may take priority). If this becomes a recurring issue, we may need to recruit additional people to help 
                    with content creation or website development. If this interests you, then please check  out our <a href="{% url 'jobs' %}">openings</a> to see which 
                    positions are currently available.
                </p>
                <h3 class="title">Commercial</h3>
                <hr class="subheading-separator">
                <p>
                    Clarets Hub currently generates income through advertisements (some of these advertisements are sourced directly whilst others are provided by Google 
                    Adsense). This money is exclusively used to help keep the website running (i.e. pay for the domain name and any hosting costs). If you would like more 
                    information about our current commercial situation, then please have a look at our <a href="{% url 'advertising' %}">advertising</a> page.
                </p>
                <p>
                    We are always open to new sponsorships. If you are interested in sponsoring Clarets Hub (or just advertising on the site), then please send us 
                    a message using the <a href="{% url 'contact' %}">contact us</a> form and we will discuss it from there.
                </p>
                <h3 class="title">Feedback</h3>
                <hr class="subheading-separator">
                <p>
                    All of our articles are rigorously checked to ensure that they are factually correct and of a high quality without any spelling/grammatical errors
                    If you find a mistake in our articles, or generally have any other feedback you wish to share, then please write to us using our 
                    <a href="{% url 'contact' %}">contact us</a> form.
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}