{% extends 'base.html' %}
{% load static %}

{% block title %}Accessibility{% endblock %}

{% block head %}

<!-- CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'css/footer_pages.css' %}">

{% endblock %}

{% block content %}
 
<div class="container p-3 m-0 border-0 main-container">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="container about-container">
                <h1><b>Accessibility</b></h1>
                <p>This is an accessibility statement from Clarets Hub.</p>

                <h3><b>Conformance status</b></h3>
                <p>
                    The <a href="https://www.w3.org/WAI/standards-guidelines/wcag/">Web Content Accessibility Guidelines (WCAG)</a> defines requirements for designers and 
                    developers to improve accessibility for people with disabilities. It defines three levels of conformance: Level A, Level AA, and Level AAA. Clarets Hub 
                    is partially conformant with WCAG 2.1 level AA. Partially conformant means that some parts of the content do not fully conform to the accessibility 
                    standard.
                </p>

                <h3><b>Feedback</b></h3>
                <p>
                    We welcome your feedback on the accessibility of Clarets Hub. Please let us know if you encounter accessibility barriers on Clarets Hub:
                    <ul><li>Email: claretshub@gmail.com</li></ul>
                </p>
                <p>We try to respond to feedback within one week.</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}