{% extends 'base.html' %}
{% load static %}

{% block head %}

<!-- CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'css/footer_pages.css' %}">

{% endblock %}

{% block content %}
 
<div class="container p-3 m-0 border-0 main-container">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="container about-container">
                <h1><b>Accessibility</b></h1>
                <p>Clarets Hub accessibility</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}