{% extends 'base.html' %}
{% load static %}

{% block title %}Advertising - Clarets Hub{% endblock %}

{% block head %}

<!-- CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'css/footer_pages.css' %}">

{% endblock %}

{% block content %}
 
<div class="container p-3 m-0 border-0 main-container">
    <div class="row g-0 justify-content-center">
        <div class="col-lg-4 col-12 p-3">
            <div class="row g-0">
                <h1 class="title">Advertising</h1>
                <hr class="title-separator">
                <small class="last-updated">Last Updated: 23rd September 2022</small>
                <p>This page contains advertising information regarding Clarets Hub.</p>
                <p>Currently, Clarets Hub does not run any adverts. However, this is likely to change in the future, so please keep an eye on this page to stay up to date.</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}