{% extends 'base.html' %}
{% load static %}

{% block title %}Contact Us - Clarets Hub{% endblock %}

{% block head %}

<!-- CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'css/form_pages.css' %}">

{% endblock %}

{% block content %}
 
<div class="container p-3 m-0 border-0 main-container">
    <div class="row g-0 justify-content-center">
        <div class="col-lg-4 col-12 p-3">
            <div class="row g-0">

                <!-- Alerts -->
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-warning alert-dismissible fade show" id="alertMessage">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" id="alertCloseBtn"></button>
                        </div>
                    {% endfor %}
                {% endif %}

                <h1 class="title">Contact Us</h1>
                <hr class="title-separator">
                <p>You can use the form below to send a message to the Clarets Hub staff. We will try to respond within one week and will reply to the email that you entered.</p>
                <form method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label class="form-label">Name</label>
                        {{ form.name }}
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Your Email</label>
                        {{ form.email }}
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Category</label>
                        {{ form.category }}
                        <div class="form-text" id="category_information"></div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Message</label>
                        {{ form.message }}
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var category = document.getElementById("id_category");
    category.addEventListener('change', categoryChange);
    var category_information = document.getElementById("category_information");

    function categoryChange(event) {
        if (document.getElementById('id_category').value == "Bug Report") {
            category_information.innerHTML = "Please include as much information about the bug as possible, such as how it is caused and the impact it has (picutres are always appreciated).";
        }
        else if (document.getElementById('id_category').value == "Sponsor") {
            category_information.innerHTML = "Please include the name of your company and your preferred contact details so that we can further this discussion.";
        }
        else if (document.getElementById('id_category').value == "Privacy / Data Request") {
            category_information.innerHTML = "Please specify your request as specifically as possible.";
        }
        else if (document.getElementById('id_category').value == "Other") {
            category_information.innerHTML = "Use this category when your message doesn't fit any of the other categories.";
        }
        else {
            category_information.innerHTML = "";
        }
    }

    categoryChange();
</script>

{% endblock %}