{% extends 'base.html' %}
{% load static %}

{% block head %}

<!-- CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">

{% endblock %}

{% block content %}

<div class="container p-3 m-0 border-0 article-container">
    <div class="row">
        <!-- Articles -->
        <div class="col-8">
            {% for article in object_list %}
                    <div class="row">
                        <div class="col-2">
                            <a href="{% url 'article-details' article.pk %}"><img src="{{ article.thumbnail.url }}" class="img-fluid" alt="{{ article.title }} Thumbnail"></a>
                        </div>
                        <div class="col-lg-8">
                            <h4><a class="article-title" href="{% url 'article-details' article.pk %}">{{ article.title }}</a></h4>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                            </svg>
                            <small class="text-muted">{{ article.author }}</small>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar" viewBox="0 0 16 16">
                                <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
                            </svg>
                            <small class="text-muted">{{ article.date | date:'dS F o' }}</small>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-tag-fill" viewBox="0 0 16 16">
                                <path d="M2 1a1 1 0 0 0-1 1v4.586a1 1 0 0 0 .293.707l7 7a1 1 0 0 0 1.414 0l4.586-4.586a1 1 0 0 0 0-1.414l-7-7A1 1 0 0 0 6.586 1H2zm4 3.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                            </svg>
                            <small class="text-muted">{{ article.category }}</small>
                            <p class="article-snippet">{{ article.snippet }}</p>
                        </div>
                    </div>
                    <hr>
            {% endfor %}
        </div>
        <!-- Twitter Feed & Social Media -->
        <div class="col-3 mobile-hide">
            <a class="twitter-timeline" href="https://twitter.com/claretshub?ref_src=twsrc%5Etfw">Tweets by claretshub</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
            <div class="card">
                <div class="card-header">Follow us on social media to get our latest news</div>
                <div class="card-body">
                    <p>Twitter: <a href="https://twitter.com/claretshub">@claretshub</a></p>
                    <p>Facebook: </p>
                    <p>Instagram: <a href="https://www.instagram.com/claretshub_/">@claretshub_</a></p></p>
                </div>
            </div>
        </div>
        <!-- Ads -->
        <div class="col-1 mobile-hide">
            col3
        </div>
    </div>
</div>

{% endblock %}