{% extends 'base.html' %}
{% load static %}

{% block head %}

<!-- CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">

{% endblock %}

{% block content %}

<!-- Main Container -->
<div class="container p-3 m-0 border-0 main-container">
    
    <!-- Articles Page -->
    <div class="row g-0">
        <p class="latest-article-heading p-2">Latest Articles</p>
    </div>
    {% for article in object_list %}

        {% if forloop.counter == 1 %}
            <!-- Latest Article Container -->
            <div class="row g-0 latest-article-container">
                <div class="col-sm-6 col-12">
                    <a href="{% url 'article-details' article.pk %}"><img src="{{ article.thumbnail.url }}" class="img-fluid" alt="{{ article.title }} Thumbnail"></a>
                </div>
                <div class="col-sm-6 col-12 p-3">
                    <div class="row">
                        <a class="btn btn-primary category-button" role="button" style="margin-left: 10px;" href="">{{ article.category }}</a>
                    </div>
                    <div class="row mt-2">
                        <h3><a class="article-title" href="{% url 'article-details' article.pk %}">{{ article.title }}</a></h3>
                    </div>
                    <div class="row">
                        <p>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                            </svg>
                            <small class="article-details">{{ article.author }}</small>&nbsp
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar" viewBox="0 0 16 16">
                                <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
                            </svg>
                            <small class="article-details">{{ article.date | date:'jS F o' }}</small>
                        </p>
                    </div>
                    <div class="row">
                        <p class="article-snippet">{{ article.snippet }}</p>
                    </div>
                </div>
            </div>

        {% elif forloop.counter < 5 %}
            {% if forloop.counter == 2 %}
                <!-- Latest Article Small Containers -->
                <div class="row">
            {% endif %}
                    <div class="col-sm-4 col-12">
                        <div class="card-group h-100">
                            <div class="card">
                                <a href="{% url 'article-details' article.pk %}"><img src="{{ article.thumbnail.url }}" class="img-fluid" alt="{{ article.title }} Thumbnail"></a>
                                <div class="card-body">
                                    <a class="btn btn-primary category-button" role="button" href="">{{ article.category }}</a>
                                    <h3><a class="card-title article-title" href="{% url 'article-details' article.pk %}">{{ article.title }}</a></h3>
                                    <p>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                                            <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                                        </svg>
                                        <small class="article-details">{{ article.author }}</small>&nbsp
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar" viewBox="0 0 16 16">
                                            <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
                                        </svg>
                                        <small class="article-details">{{ article.date | date:'jS F o' }}</small>
                                    </p>
                                    <p class="card-text article-snippet">{{ article.snippet }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
            {% if forloop.counter == 4 %}
                </div>
            {% endif %}
        {% endif %}
    {% endfor %}

    <div class="row my-3 justify-content-center">
        <a class="btn btn-primary view-all-news-button" role="button" href="{% url 'news' %}">View All News</a>
    </div>
</div>

{% endblock %}