{% extends 'base.html' %}
{% load static %}

{% block title %}Terms of Service{% endblock %}

{% block head %}

<!-- CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'css/footer_pages.css' %}">

{% endblock %}

{% block content %}
 
<div class="container p-3 m-0 border-0 main-container">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="container about-container">
                <h1><b>Terms of Service</b></h1>
                
                <h3><b>Terms</b></h3>
                <p>
                    By accessing this website, accessible from www.claretshub.com, you are agreeing to be bound by these website Terms and Conditions of Use and agree that 
                    you are responsible for the agreement with any applicable local laws. If you disagree with any of these terms, you are prohibited from accessing this site. 
                    The materials contained in this website are protected by copyright and trade mark law.
                </p>
                
                <h3><b>Use Licence</b></h3>
                <p>
                    Permission is granted to temporarily download one copy of the materials on Clarets Hub's website for personal, non-commercial transitory viewing only. 
                    This is the grant of a licence, not a transfer of title, and under this licence you may not:
                    <ul>
                        <li>modify or copy the materials;</li>
                        <li>use the materials for any commercial purpose or for any public display;</li>
                        <li>attempt to reverse engineer any software contained on Clarets Hub's website;</li>
                        <li>remove any copyright or other proprietary notations from the materials; or</li>
                        <li>transferring the materials to another person or "mirror" the materials on any other server.</li>
                    </ul>
                </p>
                <p>
                    This will let Clarets Hub to terminate upon violations of any of these restrictions. Upon termination, your viewing right will also be terminated and you 
                    should destroy any downloaded materials in your possession whether it is printed or electronic format.
                </p>

                <h3><b>Disclaimer</h3></b>
                <p>
                    All the materials on Clarets Hub's website are provided "as is". Clarets Hub makes no warranties, may it be expressed or implied, therefore negates all 
                    other warranties. Furthermore, Clarets Hub does not make any representations concerning the accuracy or reliability of the use of the materials on its 
                    website or otherwise relating to such materials or any sites linked to this website.
                </p>

                <h3><b>Limitations</h3></b>
                <p>
                    Clarets Hub or its suppliers will not be hold accountable for any damages that will arise with the use or inability to use the materials on Clarets Hub's 
                    website, even if Clarets Hub or an authorize representative of this website has been notified, orally or written, of the possibility of such damage. Some 
                    jurisdiction does not allow limitations on implied warranties or limitations of liability for incidental damages, these limitations may not apply to you.
                </p>

                <h3><b>Revisions and Errata</h3></b>
                <p>
                    The materials appearing on Clarets Hub's website may include technical, typographical, or photographic errors. Clarets Hub will not promise that any of 
                    the materials in this website are accurate, complete, or current. Clarets Hub may change the materials contained on its website at any time without notice. 
                    Clarets Hub does not make any commitment to update the materials.
                </p>

                <h3><b>Links</h3></b>
                <p>
                    Clarets Hub has not reviewed all of the sites linked to its website and is not responsible for the contents of any such linked site. The presence of any 
                    link does not imply endorsement by Clarets Hub of the site. The use of any linked website is at the user's own risk.
                </p>

                <h3><b>Site Terms of Use Modifications</h3></b>
                <p>
                    Clarets Hub may revise these Terms of Use for its website at any time without prior notice. By using this website, you are agreeing to be bound by the 
                    current version of these Terms and Conditions of Use.
                </p>

                <h3><b>Your Privacy</h3></b>
                <p>Please read our <a href="{% url 'privacy-policy' %}">Privacy Policy</a>.</p>

                <h3><b>Governing Law</h3></b>
                <p>Any claim related to Clarets Hub's website shall be governed by the laws of gb without regards to its conflict of law provisions.</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}