.main-container {
    max-width: 100%;
    background-color: #f8f8f8;
}

.article-container-shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
    background-color: white;
}

.article-container {
    padding-top: 10px;
    padding-bottom: 10px;
}

.article-title {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: black;
    margin-bottom: 0rem;
}

.player-stats-title {
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 1rem;
}

.card-header {
    background-color: #6c1d45;
    color: white;
}

.admin-card-body {
    padding: 8px 7px;
}

thead {
    background-color: #6c1d45;
    color: white;
}

td {
    text-align: center;
}

th {
    text-align: center;
}

/* Mobile & Tablet specific properties */
@media (max-width: 992px) {
    .mobile-hide {
        display: none;
    }

    .mobile-col {
        margin-top: 1rem;
        margin-left: 0rem;
        margin-right: 0rem
    }

    .article-col {
        width: 100%;
        padding-top: -1;
    }

    a {
        margin-bottom: 5px;
    }

    .row {
        margin-bottom: -0.5rem;
    }
}

/* Desktop & Laptop specific properties */
@media (min-width: 1000px) {
    .desktop-hide {
        display: none;
    }
}