.main-container {
    max-width: 100%;
    background-color: #f8f8f8;
}

.article-container {
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
    background-color: white;
}

.article-title {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

.card-header {
    background-color: #6c1d45;
    color: white;
}

.admin-card-body {
    padding: 8px 7px;
}

thead {
    background-color: #6c1d45;
    color: white;
}

td {
    text-align: center;
}

th {
    text-align: center;
}

.player-profile-image {
    height: 200px;
    width: 200px;
    margin-top: 1rem;
}

/* Mobile & Tablet specific properties */
@media (max-width: 992px) {
    .mobile-hide {
        display: none;
    }

    .article-col {
        width: 100%;
        padding-top: -1;
    }
}