.main-container {
    max-width: 100%;
}

.title-bar {
    background-color: rgb(40, 40, 40);
    color: white;
}

.category-button {
    width: fit-content;
    color: white;
    background-color: #6c1d45;
    border-color: #6c1d45;
    border-radius: 2rem;
    font-family: 'Oswald';
    font-size: 0.8rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-left: 10px;
}

.category-button:hover {
    background-color: #6c1d45bd;
    border-color: #6c1d45bd;
}

.article-title {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

.article-details {
    vertical-align: middle;
    color: #6c757d !important;
}

.article-container {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}

.admin-command-button {
    width: 100%;
    background-color: #6c1d45;
    border-color: #6c1d45;
    color: white;
    font-family: 'Oswald';
    text-transform: uppercase;
}

.admin-command-button:hover {
    background-color: #6c1d45bd;
    border-color: #6c1d45bd;
}

.latest-articles-title {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Oswald';
    font-size: 1.2rem;
    font-weight: 500;
}

.latest-articles-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

img {
    max-width: 100%;
    height: auto;
}

/* Player Profile */
.details-subheading {
    font-family: 'Oswald';
    text-transform: uppercase;
    font-weight: 600;
}

.details-subheading-separator {
    color: #6c1d45;
    opacity: 100%;
    height: 1px !important;
    margin-top: 0rem;
    margin-bottom: 0.5rem;
}

.details-category {
    font-family: 'Oswald';
    font-weight: 400;
    text-transform: uppercase;
}

.details-text {
    vertical-align: text-bottom;
}

.player-stats-title {
    font-family: 'Oswald';
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 1rem;
}

/* Match Report */
.scorer-heading {
    font-family: 'Oswald';
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 0.25rem;
}

.scorer-subtext {
    color: #6c757d;
    font-family: 'Oswald';
}

.team-heading {
    font-family: 'Oswald';
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 0.25rem;
}

thead {
    background-color: #6c1d45;
    color: white;
}

td {
    text-align: center;
}

th {
    text-align: center;
}

/* Media */
@media (max-width: 992px) {
    .lg-hide {
        display: none;
    }
}

@media (min-width: 992px) {
    .latest-articles-card {
        margin-right: -1rem;
    }
}