.navbar {
    background-color: #6c1d45;
}

.social-media-icons {
    display: inline;
}

.footer {
    background-color: #6c1d45;
}

.footer-link {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

img {
    max-width: 100%;
    height: auto;
}

@media (max-width: 990px) {
    .navbar-middle {
        display: none;
    }

    .social-media-icons {
        padding-right: 8px !important;
    }
}

@media (min-width: 1000px) {
    .navbar-end {
        display: none;
    }
}