body {
    background: rgb(245, 245, 245);
}

.top-navbar {
    background-color: #6c1d45;
    font-family: 'Oswald';
    font-size: 0.7rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.main-navbar {
    box-shadow: 1px 1px 8px grey;
    font-family: 'Oswald';
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.nav-item {
    display: inherit;
}

.main-nav-link-text {
    color: #6c1d45 !important;
}

.main-nav-link-text:hover {
    color: #6c1d45bd !important;
}

.dropdown-item:active {
    background-color: #d5d5d5;
}

.user-emoji {
    padding-right: 0rem !important;
    color: transparent !important;  
    text-shadow: 0 0 0 rgba(255, 255, 255, 0.55);
}

.social-media-icon {
    display: inline;
    padding-right: 8px !important;
    text-decoration: none;
    color: white;
}

.social-media-icon:hover {
    color: grey;
}

/* Footer */
.footer {
    background-color: #6c1d45;
    font-family: 'Oswald';
}

.footer-icons {
    display: inherit;
    padding-bottom: 0.5rem;
}

.footer-heading {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 1px;
}

.footer-link {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.1rem;
    letter-spacing: 1px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
    border-left: 4px solid #99d6ea;
    padding-left: 0.5rem;
}

.footer-link:hover {
    color: grey;
}

.footer-logo {
    width: 240px;
    margin: auto;
    display: block;
}

.footer-top {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.1rem;
    letter-spacing: 1px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
    padding-left: 0.5rem;
}

.footer-top:hover {
    color: grey;
}

/* Media */
@media (max-width: 768px) {
    .md-hide {
        display: none;
    }
}