.main-container {
    max-width: 100%;
    background-color: #f8f8f8;
}

.form-container {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 15px;
}

.title {
    text-transform: uppercase;
    font-weight: bold;
}

.django-ckeditor-widget {
    width: 100%;
}

thead {
    background-color: #6c1d45;
    color: white;
}

td {
    text-align: center;
}

th {
    text-align: center;
}