.main-container {
    max-width: 100%;
}

.latest-article-heading {
    width: fit-content;
    background-color: #99d6ea;
    color: white;
    font-family: 'Oswald';
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.latest-article-container {
    background-color: white;
    margin-bottom: 1rem;
}

.category-button {
    width: fit-content;
    color: white;
    background-color: #6c1d45;
    border-color: #6c1d45;
    border-radius: 2rem;
    font-family: 'Oswald';
    font-size: 0.8rem;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.category-button:hover {
    background-color: #6c1d45bd;
    border-color: #6c1d45bd;
}

.article-title {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
}

.article-title:hover {
    color: rgba(0, 0, 0, 0.7);
}

.article-details {
    vertical-align: middle;
    color: #6c757d !important;
}

.article-snippet {
    margin-top: 5px;
}

.card {
    border-radius: 0;
}

.view-all-news-button {
    width: fit-content;
    color: white;
    background-color: #6c1d45;
    border-color: #6c1d45;
    font-family: 'Oswald';
    font-size: 2rem;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.view-all-news-button:hover {
    background-color: #6c1d45bd;
    border-color: #6c1d45bd;
}

p {
    margin-bottom: 0.5rem;
}