.article-container {
    background-color: #99d6ea !important;
    max-width: 100%;
    margin-top: 10px !important;
}

.article-snippet {
    margin-top: 5px;
}

.article-title {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.card {
    border-radius: 12px;
    margin-top: 10px;
}

hr {
    margin: 0.5rem 0;
}

@media (max-width: 990px) {
    .mobile-hide {
        display: none;
    }
}