{% extends 'base.html' %}
{% load static %}

{% block title %}Change Password{% endblock %}

{% block head %}

<!-- CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'css/form_pages.css' %}">

{% endblock %}

{% block content %}

<div class="container p-3 m-0 border-0 main-container">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="container form-container">
                {% if user.is_authenticated %}
                    <h1 class="title">Register</h1>
                    <form method="POST">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label class="form-label">Old Password</label>
                            {{ form.old_password }}
                        </div>
                        <div class="mb-3">
                            <label class="form-label">New Password</label>
                            {{ form.new_password1 }}
                            <div class="form-text">
                                <ul>
                                    <li>Your password can’t be too similar to your other personal information</li>
                                    <li>Your password must contain at least 8 characters</li>
                                    <li>Your password can’t be a commonly used password</li>
                                    <li>Your password can’t be entirely numeric</li>
                                </ul>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Confirm New Password</label>
                            {{ form.new_password2 }}
                            <div class="form-text">Please enter the same password as above for verification</div>
                        </div>
                        <button type="submit" class="btn btn-primary">Change Password</button>
                    </form>
                {% else %}
                    <h1 class="title">Invalid Request</h1>
                    <p>You must ensure that you are currently logged in to be able to change your password.</p>
                    <p>If you think this is a mistake, please <a href="{% url 'contact' %}">contact us</a> to get in touch with an administrator.</p>
                    <p>If you already have an account, please <a href="{% url 'login' %}">login</a>.</p>
                    <p>Otherwise, please create a <a href="{% url 'register' %}">new account</a>.</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}