{% extends 'base.html' %}
{% load static %}

{% block title %}Register{% endblock %}

{% block head %}

<!-- CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'css/form_pages.css' %}">

{% endblock %}

{% block content %}

<div class="container p-3 m-0 border-0 main-container">
    <div class="row g-0 justify-content-center">
        <div class="col-lg-6 col-12 p-3 form-container">
            {% if not user.is_authenticated %}
                <h1 class="title">Register</h1>
                <hr>
                <form method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label class="form-label">Username</label>
                        {{ form.username }}
                        <div class="form-text">150 characters or fewer. Accepted characters: letters, digits and the symbols: @ . + - _</div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">First Name</label>
                        {{ form.forename }}
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Last Name</label>
                        {{ form.surname }}
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Email</label>
                        {{ form.email }}
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Password</label>
                        {{ form.password1 }}
                        <div class="form-text">
                            <ul>
                                <li>Your password cannot be too similar to your other personal information</li>
                                <li>Your password must contain at least 8 characters</li>
                                <li>Your password cannot be a commonly used password</li>
                                <li>Your password cannot be entirely numeric</li>
                            </ul>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Confirm Password</label>
                        {{ form.password2 }}
                        <div class="form-text">Please enter the same password as above for verification</div>
                    </div>
                    <button type="submit" class="btn form-button">Register</button>
                </form>
            {% else %}
                <h1 class="title">Error - Invalid Request</h1>
                <hr>
                <p>This form is unavailable since you are already logged in.</p>
                <p>If you think this is a mistake, please <a href="{% url 'contact' %}">contact us</a> to get in touch with an administrator.</p>
                <a class="btn home-button" role="button" href="{% url 'home' %}">Return to Home</a>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}