{% extends 'base.html' %}
{% load static %}

{% block title %}Page Not Found{% endblock %}

{% block head %}

<!-- CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'css/form_pages.css' %}">

{% endblock %}

{% block content %}
 
<div class="container p-3 m-0 border-0 main-container">
    <div class="row g-0 justify-content-center">
        <div class="col-lg-4 col-12 p-3">
            <div class="row g-0">
                <h1 class="title">Error - Page Not Found</h1>
                <hr class="title-separator">
                <p>You are trying to access a page which cannot be located.</p>
                <p>This may be because the page has been deleted or moved.</p>
                <p>If you think this is a mistake, please <a href="{% url 'contact' %}">contact us</a> to get in touch with an administrator.</p>
                <a class="btn home-button" role="button" href="{% url 'home' %}">Return to Home</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}