{% extends 'base.html' %}
{% load static %}

{% block title %}{{ article.title }}{% endblock %}

{% block content %}

    <h1>{{ article.title }}</h1>
    <small>By: {{ article.author }} | {{ article.date }}</small>
    <p><small>Category: {{ article.category }}</small></p>
    <p>{{ article.body | safe }}</p>
    {% if article.thumbnail %}
        <img src="{{ article.thumbnail.url }}">
    {% endif %}

    {% if article.category.title == "Match Report" %}
        <p>{{ article.match_report.stadium }}</p>
        {% if user.id == article.author.id %}
            </br><a href="{% url 'edit-match-report' article.match_report.id %}">EDIT MATCH REPORT</a>
        {% endif %}
    {% endif %}

    </br></br><a href="{% url 'home' %}">BACK</a>
    
    {% if user.id == article.author.id %}
        </br><a href="{% url 'edit-article' article.pk %}">EDIT</a>
        </br><a href="{% url 'delete-article' article.pk %}">DELETE</a>
    {% endif %}

{% endblock %}