{% extends 'base.html' %}
{% load static %}

{% block title %}Create Category{% endblock %}

{% block head %}

<!-- CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'css/form_pages.css' %}">

{% endblock %}

{% block content %}

<div class="container p-3 m-0 border-0 main-container">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="container form-container">
                {% if user.account.administrator == True %}
                    <h1 class="title">Create Category</h1>
                    <form method="POST">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label class="form-label">Category Name</label>
                            {{ form.title }}
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                {% else %}
                    <h1 class="title">Invalid Request</h1>
                    <p>You do not have the correct permissions to create a category.</p>
                    <p>If you think this is a mistake, please <a href="{% url 'contact' %}">contact us</a> to get in touch with an administrator.</p>
                    <p>If you would like to write for us, then please check out our <a href="{% url 'jobs' %}">openings</a>.</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}