{% extends 'base.html' %}
{% load static %}

{% block title %}Delete Article{% endblock %}

{% block content %}

    {% if user.id == article.author.id %}
        <h2>Delete Article</h2>
        <h3>Delete: {{ article.title }}?</h3>

        <form method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Delete</button>
        </form>
    {% else %}
        <p>You must be logged in to delete an article</p>
        <p>You can only delete an article you have created</p>
    {% endif %}

{% endblock %}