{% extends 'base.html' %}
{% load static %}

{% block title %}[Edit] {{ article.title }} - Clarets Hub{% endblock %}

{% block head %}

<!-- CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'css/form_pages.css' %}">

{% endblock %}

{% block content %}

<div class="container p-3 m-0 border-0 main-container">
    <div class="row g-0 justify-content-center">
        <div class="col-lg-4 col-12 p-3">
            {% if user.account.administrator == True or user.is_staff and user.id == article.author.id %}
                <div class="row g-0">
                    <h1 class="title">Edit Article</h1>
                    <hr class="title-separator">
                    <p>This form is used to edit an existing article.</p>
                    <p>NOTE: The thumbnail will appear as '<i>No file selected</i>', however the current thumbnail will be used if this is not changed.</p>
                </div>
                <div class="row g-0">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}

                        <!-- Error Messages-->
                        {% if form.errors %}
                            {% for field in form %}
                                {% for error in field.errors %} 
                                    <div class="alert alert-danger">
                                        <strong>{{ error|escape }}</strong>
                                    </div>
                                {% endfor %}
                            {% endfor %}
                        {% endif %}

                        {{ form.media }}
                        <div class="mb-3">
                            <label class="form-label">Title</label>
                            {{ form.title }}
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Thumbnail</label>
                            {{ form.thumbnail }}
                            <div class="form-text">Recommended size: 1920x1080</div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Snippet</label>
                            {{ form.snippet }}
                            <div class="form-text">The snippet is used to briefly describe the article (maximum of 255 characters).</div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Body</label>
                            {{ form.body }}
                        </div>
                        <button type="submit" class="btn form-button">Submit</button>
                    </form>
                </div>
            {% else %}
                <div class="row g-0">
                    <h1 class="title">Error - Invalid Request</h1>
                    <hr class="title-separator">
                    <p>You do not have the correct permissions to edit an article.</p>
                    <p>If you think this is a mistake, please <a href="{% url 'contact' %}">contact us</a> to get in touch with an administrator.</p>
                    <p>If you would like to write for us, then please check out our <a href="{% url 'jobs' %}">openings</a>.</p>
                    <p>Have any other questions? Then take a look at our <a href="{% url 'faq' %}">FAQ</a>.</p>
                    <a class="btn home-button" role="button" href="{% url 'home' %}">Return to Home</a>
                </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}