{% extends 'base.html' %}
{% load static %}

{% block title %}Manage Categories - Clarets Hub{% endblock %}

{% block head %}

<!-- CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'css/form_pages.css' %}">

{% endblock %}

{% block content %}

<div class="container p-3 m-0 border-0 main-container">
    <div class="row g-0 justify-content-center">
        <div class="col-lg-4 col-12 p-3">
            {% if user.account.administrator == True %}
                <!-- Alerts -->
                <div class="row g-0">
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-warning alert-dismissible fade show" id="alertMessage">
                                {{ message }}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" id="alertCloseBtn"></button>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>

                <div class="row g-0">
                    <h3 class="title">Current Categories</h3>
                    <hr class="title-separator">
                    <p>NOTE: Deleting a category will delete all articles that have been assigned that category.</p>
                </div>

                <div class="row g-0">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">Category</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for category in object_list %}
                                    <tr>
                                        <th scope="row">{{ category.title }}</th>
                                        <td scope="row">
                                            <form action="{% url 'remove-category' %}" method="POST">
                                                {% csrf_token %}
                                                <button class="btn btn-danger" type="submit" name="category_id" value="{{ category.pk }}">Delete</button>
                                            </form>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="row g-0">
                    <h3 class="title">Create New Category</h3>
                    <hr class="title-separator">
                </div>

                <div class="row g-0">
                    <form action="{% url 'create-category' %}" method="POST">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label class="form-label">Title</label>
                            <input type="text" class="form-control" name="title">
                        </div>
                        <button class="btn form-button" type="submit">Submit</button>
                    </form>
                </div>

            {% else %}
                <div class="row g-0">
                    <h1 class="title">Error - Invalid Request</h1>
                    <hr class="title-separator">
                    <p>You do not have the correct permissions to manage categories.</p>
                    <p>If you think this is a mistake, please <a href="{% url 'contact' %}">contact us</a> to get in touch with an administrator.</p>
                    <p>Have any other questions? Then take a look at our <a href="#">FAQ</a>.</p>
                    <a class="btn home-button" role="button" href="{% url 'home' %}">Return to Home</a>
                </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}